@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+IT+Moderna:wght@396&display=swap");

.playwrite-fonts1 {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 396;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.button-auth {
  border: 1px solid black;
  border-radius: 1svb;
  padding-left: 10px;
  font-size: x-large;
}
